# Fematch API Base URL
VITE_API_BASE_URL=https://api.fematch.app/api/v1

# Enable mock Telegram data in local browser outside Telegram WebApp
VITE_ENABLE_DEV_TMA_MOCK=true

# App Metadata
VITE_APP_NAME=Fematch
